*{
    padding: 0;
    margin: 0;
}
.itemList{
    background-color: #8080ec;
    height: 100%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    
}
.imgItems{
    width: 7em;
    height: 7em;
     cursor: pointer;
  }
  
  .imgItems:hover{
   border: 3px solid  #deb887;
  }